<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsport.wxprogram.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsport.wxprogram.domain.Article">
        <id column="id" property="id" />
        <result column="article" property="article" />
        <result column="userID" property="userID" />
        <result column="articleType" property="articleType" />
    </resultMap>

</mapper>
