<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsport.wxprogram.mapper.CoachOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsport.wxprogram.domain.CoachOrder">
        <id column="id" property="id" />
        <result column="coachID" property="coachID" />
        <result column="orderID" property="orderID" />
        <result column="date" property="date" />
    </resultMap>

</mapper>
