<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsport.wxprogram.mapper.CoachMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsport.wxprogram.domain.Coach">
        <id column="id" property="id" />
        <result column="coachName" property="coachName" />
        <result column="coachAge" property="coachAge" />
        <result column="EmploymentTime" property="EmploymentTime" />
        <result column="CertificateID" property="CertificateID" />
        <result column="gymID" property="gymID" />
        <result column="coachPic" property="coachPic" />
    </resultMap>

</mapper>
