<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsport.wxprogram.mapper.DuibituMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsport.wxprogram.domain.Duibitu">
        <id column="id" property="id" />
        <result column="zhengMzhao" property="zhengMzhao" />
        <result column="ceMzhao" property="ceMzhao" />
        <result column="date" property="date" />
        <result column="userID" property="userID" />
        <result column="imgUrl" property="imgUrl" />
        <result column="imgType" property="imgType" />
    </resultMap>

</mapper>
