<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsport.wxprogram.mapper.FoodimgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsport.wxprogram.domain.Foodimg">
        <id column="id" property="id"/>
        <result column="foodImgUrl" property="foodImgUrl"/>
        <result column="userID" property="userID"/>
        <result column="todayintakeplanID" property="todayintakeplanID"/>
        <result column="date" property="date"/>
        <result column="foodType" property="foodType"/>
        <result column="foodPro" property="foodPro"/>
        <result column="foodCarbon" property="foodCarbon"/>
        <result column="foodName" property="foodName"/>
        <result column="foodWeight" property="foodWeight"/>
        <result column="coachID" property="coachID"/>
        <result column="foodCalories" property="foodCalories"/>
        <result column="imgName" property="imgName" />
    </resultMap>

</mapper>
