<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsport.wxprogram.mapper.GymMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsport.wxprogram.domain.Gym">
        <id column="id" property="id" />
        <result column="gym_address" property="gymAddress" />
        <result column="gym_phone" property="gymPhone" />
        <result column="gym_mark" property="gymMark" />
        <result column="region_id" property="region_id"/>
        <result column="gym_url" property="gym_url"/>
        <result column="xCoordinate" property="xCoordinate"/>
        <result column="yCoordinate" property="yCoordinate"/>
        <result column="gym_name" property="gym_name"/>
    </resultMap>

    <select id="selectGymByAreaID" parameterType="Integer" resultType="Gym">
        SELECT g.* FROM t_gym g LEFT JOIN t_region  r ON g.region_id=r.id WHERE region_id=#{id}
    </select>
</mapper>
