<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsport.wxprogram.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsport.wxprogram.domain.Order">
        <id column="id" property="id" />
        <result column="userID" property="userID" />
        <result column="stratDate" property="stratDate" />
        <result column="productID" property="productID" />
        <result column="totalPrice" property="totalPrice" />
        <result column="orderType" property="orderType" />
        <result column="endDate" property="endDate" />
        <result column="regionID" property="regionID"/>
        <result column="consigneeID" property="consigneeID"/>
    </resultMap>

    <select id="selectOrderByUserID" parameterType="Long" resultType="map">
        SELECT o.id,o.orderType,o.totalPrice,p.productname,p.pro_desc FROM t_order o LEFT JOIN t_product p ON o.productID = p.id WHERE o.userID=#{id}
    </select>
    
</mapper>
