<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsport.wxprogram.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsport.wxprogram.domain.Order">
        <id column="id" property="id" />
        <result column="userID" property="userID" />
        <result column="starDate" property="starDate" />
        <result column="productID" property="productID" />
        <result column="totalPrice" property="totalPrice" />
        <result column="orderType" property="orderType" />
        <result column="endDate" property="endDate" />
        <result column="regionID" property="regionID"/>
        <result column="consigneeID" property="consigneeID"/>
        <result column="isDistribution" property="isDistribution"/>
        <result column="specificationID" property="specificationID"/>
        <result column="couponID" property="couponID" />
    </resultMap>

    <select id="selectOrderByUserIDTotal" parameterType="OrderQuery" resultType="integer">
        SELECT  COUNT(*) FROM t_order o LEFT JOIN t_product p ON o.productID = p.id WHERE o.userID=#{keyword}
    </select>

    <select id="selectOrderByUserID" parameterType="OrderQuery" resultType="map">
        SELECT o.id,o.orderType,o.totalPrice,p.productname,p.pro_desc,p.imgUrl,sp.specificationName
         FROM t_order o
        LEFT JOIN t_product p ON o.productID = p.id LEFT JOIN t_specification sp ON sp.productID=p.id
         WHERE o.userID=#{keyword}
        limit #{page},#{rows}
    </select>



    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and l.name like concat('%',#{keyword},'%')
            </if>
        </where>
    </sql>

    <select id="selectOrderMap" parameterType="OrderQuery" resultType="map">
        SELECT o.id,o.orderType,o.totalPrice,o.endDate,o.isDistribution,o.startDate,o.userID,
        s.specificationName,s.specificationPrice,p.productname,
        l.name,l.telphone,l.weixinNum,l.sex,u.phone loginPhone
        FROM t_order o
        LEFT JOIN t_product p ON o.productID = p.id LEFT JOIN t_user u ON u.id=o.userID
        LEFT JOIN t_specification s ON s.id=o.specificationID LEFT JOIN t_lxxx l ON  l.userID= u.id ORDER BY o.startDate DESC
        <include refid="whereSql"/>
        limit #{page},#{rows}
    </select>

    <select id="selectOrderMapTotal" parameterType="OrderQuery" resultType="integer">
        SELECT COUNT(*)
        FROM t_order o
        LEFT JOIN t_product p ON o.productID = p.id LEFT JOIN t_user u ON u.id=o.userID
        LEFT JOIN t_specification s ON s.id=o.specificationID LEFT JOIN t_lxxx l ON  l.userID= u.id
    </select>
</mapper>
