<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsport.wxprogram.mapper.ProductserviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsport.wxprogram.domain.Productservice">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="message" property="message" />
        <result column="productID" property="productID" />
        <result column="serviceType" property="serviceType" />
    </resultMap>

</mapper>
