<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsport.wxprogram.mapper.SportsimgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsport.wxprogram.domain.Sportsimg">
        <id column="id" property="id" />
        <result column="sportsImgUrl" property="sportsImgUrl" />
        <result column="userID" property="userID" />
        <result column="date" property="date" />
        <result column="todayburncaloriesID" property="todayburncaloriesID" />
        <result column="burnCalories" property="burnCalories" />
        <result column="burnType" property="burnType" />
        <result column="imgName" property="imgName" />

    </resultMap>

</mapper>
