<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsport.wxprogram.mapper.SportsprogramMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsport.wxprogram.domain.Sportsprogram">
        <id column="id" property="id" />
        <result column="scheduleMov" property="scheduleMov" />
        <result column="avgOfWeekExercise" property="avgOfWeekExercise" />
        <result column="sportsHobby" property="sportsHobby" />
        <result column="sportsHurt" property="sportsHurt" />
        <result column="userID" property="userID" />
    </resultMap>

</mapper>
