<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsport.wxprogram.mapper.SportsplanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsport.wxprogram.domain.Sportsplan">
        <id column="id" property="id"/>
        <result column="planObjectives" property="planObjectives"/>
        <result column="planUseDays" property="planUseDays"/>
        <result column="userID" property="userID"/>
        <result column="masterPlanBurn" property="masterPlanBurn"/>
        <result column="masterPlanIntake" property="masterPlanIntake"/>
        <result column="planStratTime" property="planStratTime"/>
        <result column="planEndDate" property="planEndDate"/>
        <result column="planType" property="planType"/>
        <result column="coachID" property="coachID"/>
        <result column="masterPlanCellulose" property="masterPlanCellulose"/>
        <result column="masterPlanCarbon" property="masterPlanCarbon"/>
        <result column="masterPlanPro" property="masterPlanPro"/>
    </resultMap>

    <select id="selectAllPlanWithUser" parameterType="Integer" resultMap="BaseResultMap">
       SELECT  * FROM t_sportsplan s LEFT JOIN t_user u ON s.userID=u.id
    </select>
    <select id="selectPlanByUserID" parameterType="Integer" resultMap="BaseResultMap">
       SELECT s.* FROM t_sportsplan s LEFT JOIN t_user u ON s.userID=u.id WHERE s.userID=#{id}   </select>

    <select id="selectEverDayIntakeAndBurn" parameterType="com.hsport.wxprogram.query.SportsplanQuery" resultType="map">
     SELECT b.userID,b.dayBurns,i.dayIntake,b.date FROM t_todayburncalories b,t_todayintake i
     where b.userID=#{userID} AND b.userID=i.userID AND b.date=i.date order by i.date desc
     limit #{page},#{rows}
   </select>

    <select id="getUserIntakeEverday" parameterType="Integer"  resultType="map" >
        SELECT s.id,s.userID,
        (s.masterPlanIntake/s.planUseDays) intakeEverday,
        (s.masterPlanCarbon/s.planUseDays) carbonEverday,
        (s.masterPlanCellulose/s.planUseDays) celluloseEverday,
        (s.masterPlanPro/s.planUseDays) proEverday
        from t_sportsplan s WHERE s.userID=#{id} AND s.planEndDate is NULL AND (s.planType=1 or s.planType=3 )
    </select>
    
    <select id="getMyPlan" parameterType="com.hsport.wxprogram.query.SportsplanQuery" resultType="map" >
       SELECT tb.burnCaloriesPer,ti.dayIntake FROM  t_todayburncalories tb,t_todayintake ti WHERE tb.userID=#{userID} AND  ti.userID=#{userID} AND tb.date=#{date} AND ti.date=#{date}
    </select>

</mapper>
