<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsport.wxprogram.mapper.TodayburncaloriesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsport.wxprogram.domain.Todayburncalories">
        <id column="id" property="id" />
        <result column="burnCaloriesPer" property="burnCaloriesPer" />
        <result column="BurnCalories" property="BurnCalories" />
        <result column="sportsBpm" property="sportsBpm" />
        <result column="lifeBpm" property="lifeBpm" />
        <result column="SportsQD" property="SportsQD" />
        <result column="dayWeight" property="dayWeight" />
        <result column="dayMood" property="dayMood" />
        <result column="dayBurns" property="dayBurns" />
        <result column="sportsPlanID" property="sportsPlanID" />
        <result column="coachPlanPer" property="coachPlanPer" />
        <result column="coachTimes" property="coachTimes" />
        <result column="aerobicTimes" property="aerobicTimes" />
        <result column="date" property="date" />
        <result column="userID" property="userID" />
    </resultMap>

    <select id="selectTodayBurn" parameterType="Integer" resultMap="BaseResultMap">
        SELECT  tb.BurnCalories FROM t_todayBurncalories tb LEFT JOIN t_sportsplan s ON tb.sportsPlanID=s.id WHERE tb.sportsPlanID=#{id}   </select>

    <select id="getAvgAndAllByUserID" parameterType="Integer" resultType="map">
        SELECT SUM(dayBurns) sumBurns,AVG(dayBurns) avgBurns,DATEDIFF(DATE_SUB(curdate(),INTERVAL 0 DAY),str_to_date(s.planStratTime,'%Y.%m.%d')) usedays
        FROM t_todayburncalories b LEFT JOIN t_sportsplan s ON b.sportsPlanID=s.id
        WHERE b.userID= #{id}
    </select>
    <select id="selectSportsTimesAvgAndAll" parameterType="Integer" resultType="map" >
          SELECT id,SUM(tb.aerobicTimes+tb.coachTimes) allSportsTimes,AVG(tb.aerobicTimes+tb.coachTimes) avgSportsTimes,userID  FROM t_todayburncalories tb where tb.userID=#{id}
    </select>
    <select id="getLastOne" resultType="Todayburncalories" parameterType="integer">
        SELECT * FROM t_todayburncalories WHERE userID=#{id} order by date desc
        limit 1
    </select>
</mapper>
