<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsport.wxprogram.mapper.TodayintakeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsport.wxprogram.domain.Todayintake">
        <id column="id" property="id"/>
        <result column="intakeCalories" property="intakeCalories"/>
        <result column="dayIntake" property="dayIntake"/>
        <result column="proPer" property="proPer"/>
        <result column="CarbonIntake" property="CarbonIntake"/>
        <result column="cellulosePer" property="cellulosePer"/>
        <result column="waterIntake" property="waterIntake"/>
        <result column="date" property="date"/>
        <result column="sportsPlanID" property="sportsPlanID"/>
        <result column="userID" property="userID"/>
    </resultMap>

    <select id="getAvgAndAllByUserID" parameterType="Long" resultType="map">
  SELECT SUM(dayIntake) sumDayIntake,AVG(dayIntake) avgIntake,DATEDIFF(DATE_SUB(curdate(),INTERVAL 0 DAY),str_to_date(s.planStratTime,'%Y.%m.%d')) usedays
  FROM t_todayintake i LEFT JOIN t_sportsplan s ON i.sportsPlanID=s.id
   WHERE i.userID=#{id}
    </select>

    <select id="getLastOne" resultType="Todayburncalories" parameterType="Long">
        SELECT * FROM t_todayintake WHERE userID=#{id} order by date desc
        limit 1
    </select>
</mapper>
