<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsport.wxprogram.mapper.TodayintakeplanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsport.wxprogram.domain.Todayintakeplan">
        <id column="id" property="id" />
        <result column="intakePlan" property="intakePlan" />
        <result column="userID" property="userID" />
        <result column="date" property="date" />
        <result column="intakeSJ" property="intakeSJ" />
        <result column="sportsPlanID" property="sportsPlanID" />
        <result column="breakfastIntake" property="breakfastIntake" />
        <result column="lunchIntake" property="lunchIntake" />
        <result column="dinnerIntake" property="dinnerIntake" />
        <result column="mealAdditionIntake" property="mealAdditionIntake" />
    </resultMap>

</mapper>
