<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsport.wxprogram.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsport.wxprogram.domain.User">
        <id column="id" property="id" />
        <result column="phone" property="phone" />
        <result column="coachID" property="coachID" />
        <result column="genTime" property="genTime" />
        <result column="loginTime" property="loginTime" />
        <result column="loginCount" property="loginCount" />
        <result column="userType" property="userType" />
        <result column="openID" property="openID" />
        <result column="password" property="password"/>
        <result column="imgUrl" property="imgUrl" />
    </resultMap>

    <select id="selectUserCoach" resultType="map" parameterType="userQuery" >
        SELECT  u.id,u.userType,u.genTime,u.phone loginPhone,u.imgUrl,l.*,c.coachName coachName,SUM(o.totalPrice) as sumPrice
        FROM t_user u LEFT JOIN t_coach c ON u.coachID = c.id LEFT JOIN t_lxxx l ON u.id=l.userID LEFT JOIN t_order o ON u.id=o.userID GROUP BY u.id ORDER  BY  u.genTime
        limit #{page},#{rows}
    </select>


    <select id="selectUserCoachTotal" resultType="integer" parameterType="userQuery" >
        SELECT COUNT(*)
        FROM t_user u LEFT JOIN t_coach c ON u.coachID = c.id LEFT JOIN t_lxxx l ON u.id=l.userID
    </select>

</mapper>
